nav {
    position: fixed;
    padding: .5rem 1rem;
    top: 50%;
    right: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav > * {
    transition: .3s ease all;
    text-align: right;
}

.link {
    text-decoration: none;
    color: black;
}

.nav_background {
    background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(5px);
}

.active {
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (hover: none) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    nav {
        top: auto;
        bottom: 0;
        width: 100%;
    }

    .nav {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}
