@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

html, 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#pageContainer {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (hover: none) {
    #pageContainer {
        scroll-snap-type: none;
    }    
}

