@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

* {
    font-family: 'Cantarell';
}

header,
footer,
.presDiv,
.txtContainer,
.dishText,
.mainDishes,
.dessertsDishes,
.otherDishes,
.about {
    background: rgba(0,0,0, 0.75);
    color: #FFF;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #FEE;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(./background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    background: none;
}

header {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
}

.nav {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    padding: .3vw .5vw .3vw .5vw;
    font-size: 1.2em;
    background-color: rgba(255,255,255, 0.3);
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color:black;
}

.siteName {
    color: white;
    font-family: 'Licorice', 'sans-serif';
    font-size: 2.4em;
    font-style: italic;
    margin: 1vh 0 2vh 0;
}

.main {
    align-self: center;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

.presDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.restName {
    font-family: 'Licorice', 'sans-serif';
    font-size: 3.5em;
    margin: 0;
    padding: 2vw;
}

.restaurantDesc {
    text-align: center;
}

.menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5vh;
    padding: 1vw;
}

.subtText {
    text-align: center;
}

.txtContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.dish {
    width: 250px;
    height: 300px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0,0,0, 0.85);
    box-shadow: 0px 0px 20px 10px rgba(255,255,255, 0.4);
    transition: all ease .05s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.dish:hover {
    background-color: rgba(0,0,0, 1);
    transform: scale(1.01);
}

.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.mainDishes,
.dessertsDishes,
.otherDishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 70vw;
    padding: 2vw 1vw 2vw 1vw;
    border-radius: 20px;
}

.about {
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 5vh 0 5vh 0;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vw;
}

.kitchenImg {
    width: 35vw;
    height: auto;
}

.creditsContainer {
    padding: 2vw;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.small {
    font-size: 0.8em;
}

.em {
    font-size: 1.1em;
    font-weight: 500;
}

.topText {
    font-size: 1.6em;
    font-weight: 600;
}

.dishName {
    font-size: 1.3em;
    font-style: italic;
    font-weight: 500;
}

.dishDesc {
    font-style: italic;
    color:silver;
}

.dishIngredients {
    font-size: 0.9em;
}

.dishText {
    padding: 2vw;
    font-size: 1.2em;
    font-weight: 400;
}