* {
    border: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
}

.siteName {
    color: blue;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}